---
import Tag from "@/components/SmallTag";
import type { ProjectProps } from "@/config/types";
import { Image } from "astro:assets";
import { getImage } from "@/utils/imageMap";

interface Props {
  project: ProjectProps;
}
const { project } = Astro.props;
const projectImage = getImage(project.image_links[0]);
---

<div
  class="rounded-md py-2 px-3 gap-2 border border-neutral-700 hover:shadow-md h-full hover:scale-[1.05] transition-transform duration-300 text-neutral-200"
>
  <a href={`/projects/${project.id}`}>
    <div class="flex items-center gap-3 w-full h-full md:flex-col">
      <Image
        class="object-cover w-[120px] h-[90px] md:w-full md:h-[150px] rounded-md"
        src={projectImage}
        alt="logo"
        width={400}
        height={300}
        quality={100}
        format="webp"
        sizes="(max-width: 768px) 120px, 100vw"
        transition:name={`${project.id}-image`}
      />
      <div class="text-left flex flex-col grow">
        <div
          class="grow flex flex-wrap md:block md:flex-wrap items-center justify-between"
        >
          <h3
            class="font-semibold text-lg mr-2"
            transition:name={`${project.id}-title`}
          >
            {project.title}
          </h3>
          <h2 class="text-xs" transition:name={`${project.id}-date`}>{project.date_range}</h2>
          <p
            class="text-sm hidden md:block"
            transition:name={`${project.id}-description`}
            set:html={project.description}
          />
        </div>
        <div>
          {
            project.tags && project.tags.length > 0 && (
              <div class="flex gap-1 mt-2 flex-wrap" transition:name={`${project.id}-tags`}>
                {project.tags.map((tag) => (
                  <Tag text={tag} />
                ))}
              </div>
            )
          }
        </div>
      </div>
    </div>
    <p
      class="text-sm md:hidden mt-2"
      set:html={project.description}
      transition:name={`${project.id}-description`}
    />
  </a>
</div>
