---
import { getCollection, render } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import BackArrow from "@/components/BackArrow";
import ProjectCarousel from "@/components/project/ProjectCarousel";
import Tag from "@/components/SmallTag";
import Prose from "@/components/Prose.astro";
import StringRender from "@/components/StringRender";

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map((post) => ({
    params: { id: post.data.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
const project = post.data;
---

<Layout>
  <div class="p-5">
    <BackArrow client:load />
    <ProjectCarousel
      images={project.image_links}
      captions={project.image_captions}
      client:load
    />
    <div class="md:px-[10px] max-w-[850px] mx-auto">
      <div class="flex flex-col my-3">
        <h3
          class="font-semibold text-4xl grow"
          transition:name={`${project.id}-title`}
        >
          {project.title}
        </h3>
        <h2 class="text-neutral-400 text-lg">{project.date_range}</h2>
      </div>
      <div
        class="flex flex-col sm:flex-row-reverse gap-3 my-2 text-neutral-200"
      >
        {
          project.tags && project.tags.length > 0 && (
            <div class="rounded-md p-3 font-semibold w-fit outline outline-1 outline-neutral-600">
              <span class="font-semibold text-xl text-neutral-200">
                Technologies
              </span>
              <div class="flex gap-1 mt-2 flex-wrap">
                {project.tags.map((tag) => (
                  <Tag text={tag} />
                ))}
              </div>
            </div>
          )
        }
        <div class="grow">
          <span class="font-semibold text-xl">Description</span>
          <StringRender
            text={project.description}
            className="text-neutral-200 text-lg"
          />
        </div>
      </div>
      <Prose>
        <Content />
      </Prose>
    </div>
  </div>
</Layout>
